@import '../../sharedStyles/anim.less';
@import '../../sharedStyles/colors.less';

.drop-down {
  p {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: -.02rem;
    padding: .5rem .75rem .1rem .25rem;
    border-bottom: .15em solid @pri-dark;
  }
  
  ul {
    list-style-type: none;
  
    li {
      cursor: pointer;
      padding: .55rem .5rem .25rem;
      margin: 0;
      transition: padding 120ms @quick-n-slow;
  
      &:hover {
        padding: .4rem .5rem;
        background: @ntl-bright;
        transition: padding 0ms @quick-n-slow;
      }
      
      &:not(:first-of-type) {
        border-top: .1rem solid @pri-fair;
      }
    }
  }
}