@import '../../sharedStyles/anim.less';
@import '../../sharedStyles/colors.less';

.fixed-wrapper {
  position: absolute;
  right: 0;
  pointer-events: none;
}

.drop-down:not(:empty) {
  position: fixed;
  top: calc(var(--yPos) * 1px + 1rem);
  left: calc(var(--xPos) * 1px);
  width: max-content;
  cursor: initial;
  background: white;
  font-family: Montserrat;
  font-style: italic;
  color: @ntl-dark;
  border-radius: .5rem;
  box-shadow: .25rem .25rem .06rem @pri-heavy,
              0 0 1rem -.95rem @ntl-heavy;
  padding: .35rem .75rem .5rem;
  transform: translateX(-100%);
}

.drop-down {
  pointer-events: initial;

  > p {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: -.02rem;
    padding: .5rem .75rem .1rem .25rem;
    border-bottom: .15em solid @pri-dark;
  }
  
  ul {
    list-style-type: none;

    > a:not(:first-of-type) li {
      border-top: .1rem solid @pri-fair;
    }
  
    li {
      cursor: pointer;
      height: 2.2rem;
      padding: .65rem .5rem 0;
      transition: padding 120ms @quick-n-slow;
  
      &:hover {
        padding: .4rem .5rem;
        background: @ntl-bright;
        transition: padding 0ms @quick-n-slow;
      }
    }
  }

  .pages {
    display: flex;
    gap: .75rem;
    justify-content: center;
    text-align: center;
    margin-block: .5rem;

    p {
      display: grid;
      place-items: center;
      width: 2em;
      height: 2.2rem;
      cursor: pointer;
      user-select: none;
      border: .1rem solid @pri-light;
      font-family: "Montserrat Alternates";
      border-radius: .2rem;
      transition: background 300ms @quick-n-slow;

      &.active {
        background: @act-main;
        color: @ntl-bright;
        border: none;
      }
    }
  }
}