@import '../../sharedStyles/anim.less';
@import '../../sharedStyles/colors.less';
@import '../../sharedStyles/fonts.less';

.cards {
  position: relative;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  padding-inline: ~"max(1rem, calc(25vw - 18rem))";
  @media (max-width: 640px) { padding-inline: 1.2rem; grid-template-columns: 1fr;}

  .card {
    display: grid;
    height: 30rem;
    grid-template-rows: 55% 45%;
    isolation: isolate;
    overflow: clip;
    backdrop-filter: blur(.5rem);
    box-shadow: 0rem 0.125rem 0.5rem -0.5rem #000000,
                inset 0 5rem 10rem -8rem @sec-light;
    margin-bottom: .5rem;
    opacity: 0;
    transition: background 300ms @quick-n-slow,
                color 300ms @quick-n-slow,
                box-shadow 300ms @quick-n-slow;
    animation: @fade-in, @drop-in;

    &:has(.top:is(:hover, :focus, :focus-within)) {
      box-shadow: 0rem 0.125rem 0.5rem -0.5rem #000000,
                  inset 0 3rem 10rem -7rem @sec-fair;
    }

    &:nth-of-type(3n + 1) {
      border-radius: .3rem .3rem .3rem 2rem;

      &:last-of-type {
        border-radius: .3rem 2rem .3rem 2rem;
      }
    }
    &:nth-of-type(3n + 2) {
      border-radius: .3rem;

      &:last-of-type {
        border-radius: .3rem 2rem .3rem .3rem;
      }
    }
    &:nth-of-type(3n + 3) {
      border-radius: .3rem 2rem .3rem .3rem;
    }

    .top {
      position: relative;
      height: 100%;
      transition: transform 300ms @quick-n-slow;

      > div:first-child {
        position: absolute;
        top: 50%; left: 50%;
        width: 100%; height: 100%;
        font-size: 4rem;
        color: @sec-fair;
        text-align: center;
        transform: scale(100%) translate(-50%, -12.5%);
        transition: transform 300ms @bounce;
        
        &:hover {
          transform: scale(110%) translate(-45.5%, -9%);
        }

        p {
          font-family: "Montserrat Alternates";
          font-size: 1.2rem;
          font-weight: 600;
          font-style: italic;
          letter-spacing: -.02rem;
          color: @sec-dark;
          margin-block: -.25rem;
        }

      }
    }

    .bottom {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      isolation: isolate;
      background: @ntl-light;
      padding: 2rem 1.5rem 1rem;
      overflow: clip;

      &:hover {
        h1 {
          transform: scale(105%) translate(1.5%, -.2rem);
        }
      }

      h1 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        cursor: pointer;
        overflow: hidden;
        font-size: 1.8rem;
        line-height: 2rem;
        transition: transform 300ms @quick-n-slow;
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        > p {
          border-radius: .5rem;
          transition: padding 300ms @quick-n-slow, 
                      background 300ms @quick-n-slow,
                      color 300ms @quick-n-slow;

          &:first-child:hover {
            cursor: pointer;
            background: @act-main;
            color: @pri-bright;
            padding: .3rem 1.2rem;
            transition: padding 300ms @quick-n-slow, 
                        background 300ms @quick-n-slow,
                        color 200ms @quick-n-slow;
          }
        }
      }
    }

    .flair {
      .flair(1.5rem);
      margin: .5rem;
    }
  }
  
}