@import '../../sharedStyles/anim.less';
@import '../../sharedStyles/colors.less';
@import '../../sharedStyles/fonts.less';

.list-page {
  margin-top: 1.2rem;

  .searchbar {
    position: relative;
    width: 100%;
    padding-inline: ~"max(.6rem, calc(25vw - 18rem))";

    label {
      left: ~"max(.6rem, calc(25vw - 16rem))";
    }
  }

  .view-type {
    text-align: center;
  }

  .list {
    
  }
}