@import '../../sharedStyles/anim.less';
@import '../../sharedStyles/colors.less';
@import '../../sharedStyles/dimensions.less';
@import '../../sharedStyles/fonts.less';

.list-page {
  margin-top: 1.5rem;
  text-align: center;

  > * {
    text-align: initial;
  }

  header {
    display: flex;
    gap: 2.5rem;
    @media (max-width: 640px) { flex-direction: column; gap: .75rem }
    align-items: center;
    padding-inline: ~"max(1rem, calc(25vw - 18rem))";
    @media (max-width: 640px) { padding-inline: .6rem; }

    h1 {
      display: block;
      // width: max-content;
      // height: min-content;
      cursor: default;
      background-image: linear-gradient(
        @fnt-act-2,
        @fnt-act-2
      );
      white-space: nowrap;
      background-size: 0% .2rem;
      background-repeat: no-repeat;
      background-position: bottom;
      font-family: Montserrat;
      font-size: 2.5rem;
      font-weight: 300;
      font-style: italic;
      padding-bottom: 1rem;
      margin-top: .5rem;
      transition: background 300ms @quick-n-slow;

      &:hover {
        background-size: 100% .2rem;
      }
    }

    .searchbar {
      position: relative;
      width: 100%;
      user-select: none;
  
      label {
        left: 1rem;
  
        + button {
          position: absolute;
          right: 0;
          font-size: 1.5rem;
          outline: none;
          transition: opacity 300ms @quick-n-slow;
        }
      }
  
      input:is(:focus-visible, :focus-within), 
      input[type="text"]:not(input[value=""]){
        ~ button {
          padding: .75rem 1.5rem;
        }
      }
    }
  }

  .filters {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    @media (max-width: 640px) { flex-direction: column; gap: 1rem; }
    width: 100%;
    padding-inline: ~"max(1rem, calc(25vw - 18rem))";
    margin-top: 1rem;

    label {
      cursor: text;
      text-transform: capitalize;
      vertical-align: top;

      &:has(+ .fluid) {
        font-family: Montserrat;
        font-size: 1.2em;
        font-weight: 500;
      }
    }
    
  }


  .listings {
    margin-top: 1rem;
  }

  > button, > p:last-of-type {
    user-select: none;
    font-size: 1.2rem;
    padding: .6em 1em;
    margin: 2rem auto;

    span {
      font-family: Lato;
      font-weight: bold;
    }

    &:is(.search-error) {
      position: absolute;
      top: calc((100vh - @navbar-height) / 2); left: 50%;
      width: max-content;
      background: @ntl-med-1;
      color: @bg-main-1;
      border-radius: .1em .8em .1em .8em;
      box-shadow: .25rem .15rem .1rem 0rem @ntl-med-2;
      transform: translate(-50%);
      animation: error 500ms forwards;
    }

    &:is(:focus, :focus-visible) {
      outline: none;
    }
  }
}