@import '../../sharedStyles/anim.less';
@import '../../sharedStyles/colors.less';
@import '../../sharedStyles/dimensions.less';
@import '../../sharedStyles/fonts.less';

:has(.listing-display-page) {
  // Remove scroll bar on mobile
  @media (max-width: 768px) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  // Adjust scroll bar margin
  &::-webkit-scrollbar-track {
    margin-top: calc(100vh - @navbar-height - @display-header-height);
  }
}

.listing-display-page {
  line-height: initial;
  
  // Page padding
  & > :not(:first-child) { padding: 2rem ~"max(1rem, calc(8vw - 5rem))"; }

  header {
    display: flex;
    @media (max-width: 768px) { flex-direction: column; }
    gap: .5rem;
    width: 100%;
    background: linear-gradient(
      @act-main,
      @act-main
    );
    color: @ntl-bright;
    box-shadow: inset 0 1rem 2rem -2rem @ntl-heavy;
    padding: 3.5rem ~"max(1rem, calc(8vw - 5rem))";
    @media (max-width: 768px) { padding: 1.5rem ~"max(1rem, calc(8vw - 5rem))" 3.5rem }
    z-index: -1;

    & > a {
      font-size: 5rem;
      @media (max-width: 768px) { font-size: clamp(2.4rem, 10.4vw, 5rem); }
      font-weight: 900;
      display: -webkit-box;
      overflow: clip;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media (max-width: 768px) {
        -webkit-line-clamp: 10;
      }
      
      &:hover {
        -webkit-line-clamp: 10;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 30rem;
      font-family: Montserrat;
      font-size: 2.4rem;
      white-space: nowrap;
      @media (min-width: 769px) { margin-left: auto };

      // Selects inner text rows
      & > :not(:first-child, :last-child) {
        font-weight: 300;
        font-style: italic;
        margin-top: .5rem;
        margin-left: .5rem;
      }

      & > :last-child {
        font-size: 4rem;
        @media (max-width: 768px) { font-size: 2.4rem !important; }
        font-weight: 600;
      }

      @media (max-width: 768px) {
        display: grid;
        width: 100%;
        font-size: 1.6rem;
        margin-top: 1rem;

        & > :last-child {
          font-size: 3rem;
          font-weight: 600;
        }
      }
      
      .flair {
        .flair(2.5rem);
        @media (max-width: 768px) { .flair(clamp(1.6rem, 5.2vw, 2.5rem)) }
        margin-top: .625rem;
      }
    }
  }

  section h1 {
    width: max-content;
    @media (max-width: 768px) { width: 100% }
    background: linear-gradient(
      @pri-fair,
      @pri-dark
    );
    background-size: 100% .15rem;
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: -.07rem;
    white-space: no-wrap;
    padding-bottom: .35rem;
    @media (min-width: 769px) { 
      padding: 0 1em .15rem; 
      margin-inline: auto; 
    }
    margin-bottom: .5em;
  }

  .grid-row {
    @gap: 2rem;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    &:has(.timestamp) {
      font-size: 1rem;
      text-align: center;

      .self-text {
        display: inline-block;
        @media (min-width: 769px) { 
          width: calc(50% - @gap / 2); 
          margin-left: @gap;
        }
      }
    }
    

    section {
      width: 100%;
      margin: 1rem 0 0;
      float: left;
    }

    .timestamp {
      margin-top: 5.8rem;
      @media (min-width: 769px) {
        position: sticky;
        top: 8rem; width: calc(50% - @gap / 2); 
      }

      a h1 {
        margin-inline: auto;
      }

      img {
        aspect-ratio: 16 / 9;
        width: 100%;
        user-select: none;
        object-fit: contain;
        transition: padding 300ms @quick-n-slow;

        &:hover {
          cursor: pointer;
        }
      }

      div {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: .5rem;
      
        > img {
          aspect-ratio: 1;
          width: ~"min(calc(100% / 5), 8rem)";
          object-fit: cover;
          padding: .5rem;

          &:hover {
            cursor: default;
            padding: .3rem;
          }
        }
      }
    }

    .self-text {
      max-width: 50rem;
      text-align: left;

      p {
        line-height: 1.5rem;
        word-break: break-word;
      }
    }
  }

  .comments {
    width: min(100%, 60rem);
    margin-inline: auto;
    user-select: none;

    textarea {
      width: 100%;
      height: ~"max(12rem, calc(45rem - 100vw))";
      font-family: lato;
      font-size: 1.2rem;
      border-radius: .3rem;
      padding: 1.2rem 1rem;
      resize: none;
    }
    
    div {
      display: flex;
      gap: 1rem;
      @media (max-width: 768px) { justify-content: space-between; }
      @media (min-width: 769px) { justify-content: flex-end; }
      margin-top: 1rem;

      button {
        display: inline;
        font-size: 1.2rem;
        padding-block: .6em;
      }
    }
  }
}