@import '../../sharedStyles/colors.less';

.hb-menu {
  position: relative;
  width: 4rem;
  height: 4rem;
  user-select: none;
  margin: 0 1.2rem;

  .hb-button {
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: .15rem .75rem;
    // margin: auto;

    &:has(.hb-cross) {
      outline: .2rem solid @ntl-bright;
    }
  }

  .hb-line, .hb-cross {
    display: block;
    width: 3rem;
    height: .5vh;
    background: @ntl-bright;
    border-radius: 2vw;
  }

  .hb-line:nth-of-type(2) {
    margin-block: .75rem;
  }

  .hb-cross {
    position: absolute;
    top: 50%; 
    left: 0%;
    height: 10%;
    transform: translate(15%, -50%) rotate(45deg);
  }

  .hb-cross:last-of-type {
    transform: translate(15%, -50%) rotate(-45deg);
  }

  .drop-down:not(:empty) {
    position: absolute;
    top: 100%; right: 0;
    width: max-content;
    cursor: initial;
    background: white;
    font-family: Montserrat;
    font-style: italic;
    color: @ntl-dark;
    border-radius: .5rem;
    box-shadow: .25rem .25rem .06rem @pri-heavy,
                0 0 1rem -.95rem @ntl-heavy;
    padding: .35rem .75rem .5rem;
  }
}