@import '../../sharedStyles/colors.less';

@dot-size: .4rem;
@dot-gap: .25rem;

.radio-button {  
  position: relative;
  float: right;
  cursor: pointer;
  padding: .2rem;
  
  &:hover svg {
    fill: @ntl-dark;
  }

  svg {
    box-sizing: content-box;
    display: block;
    width: @dot-size;
    height: @dot-size;
    pointer-events: none;
    fill: @ntl-fair;
    mix-blend-mode: multiply;
    margin-left: auto;
    margin-block: @dot-gap;
  }

  .drop-down:not(:empty) {
    position: absolute;
    top: 100%; right: 0;
    width: max-content;
    cursor: initial;
    background: white;
    font-family: Montserrat;
    font-style: italic;
    border-radius: .5rem;
    box-shadow: .25rem .25rem .06rem @pri-heavy;
    padding: .35rem .75rem;
  }
}