@import '../../sharedStyles/colors.less';
@import '../../sharedStyles/fonts.less';
@import '../../sharedStyles/anim.less';

.navbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background: linear-gradient(
    -0deg,
    @act-main,
    @act-main
  );
  font-family: 'Montserrat Alternates', Montserrat, Lato;
  font-size: 1.5rem;
  font-weight: 300;
  color: @pri-bright;
  word-spacing: .5rem;
  padding: .6rem 0;
  z-index: 99;

  > a {
    width: fit-content;
    padding: .6rem 1.2rem;
    border-radius: .5rem;
    transition: 
      background 300ms @quick-n-slow,
      color 150ms @quick-n-slow,
      box-shadow, 300ms @quick-n-slow;
    box-shadow: 0 0 0 #604040;

    &:is(:hover, :focus, :focus-visible), &.active {
      background: @sec-bright;
      color: @act-main;
      outline: none;
      transition: 
        background 300ms @quick-n-slow,
        color 300ms @quick-n-slow,
        box-shadow, 300ms @quick-n-slow;
      box-shadow: inset .1rem .1rem .3rem -.16rem #604040;
    }
  }
}