@quick-n-slow: cubic-bezier(.1,.8,.2,1);
@bounce: cubic-bezier(.175, .885, .32, 1.275);

@fade-in: fade-in var(--length) ease calc(1.3s * var(--order) - 1300ms) forwards;
@drop-in: drop-in calc(var(--length) / 2) @quick-n-slow calc(1.3s * var(--order) - 1300ms) forwards;
