// @bg-main-1: #eae7e0;
// @bg-main-2: #f1f1f1;
// @bg-nav-1: #efede3;
// @bdr-nav-1: #d6ccc2;
// @bdr-nav-2: #cec5b8;
// @inp-bg: #dfdfdf;
// @btn-bg: #b9b4a2;
// @fnt-main-1: #101010;
// @fnt-main-2: #242424;
// @fnt-act-1: #d62828;
// @fnt-act-2: #df3838;
// @ntl-med-1: #a0a6ab;
// @ntl-med-2: #60666b;
@sb-clr-1: #d628286f;
@sb-clr-2: #d62828ff;
@sb-bg: #f1f1f1ff;
// @flr-sell: #ff5555;
// @flr-buy: #40e47b;
// @flr-trd: #ff79c6;
// @flr-str: #82dae2;
// @flr-upc: #bd93f9;
// @flr-art: #d8e880;
// @flr-bg: @ntl-light;

// PRIMARY
@pri-bright: #EFEDE6;
@pri-light: #E2DED2;
@pri-fair: #CECAB8;
@pri-dark: #B9B4A2;
@pri-heavy: #52504A;
// SECONDARY
@sec-bright: #E9EFF1;
@sec-light: #E2E7EB;
@sec-fair: #C4C9CD;
@sec-dark: #878B93;
@sec-heavy: #24272B;
// NEUTRAL
@ntl-bright: #F1F1F1;
@ntl-light: #E3E3E3;
@ntl-fair: #BBBBBB;
@ntl-dark: #7D7D7D;
@ntl-heavy: #010101;
// ACCENT
@act-main: #DF3838;
@act-link: #91A1CC;
// FLAIR
@flr-sell: #F43232;
@flr-buy: #72DB4D;
@flr-trd: #F16CCC;
@flr-str: #00DCF0;
@flr-upc: #5200FF;
@flr-art: #E9FF6F;
@flr-bg: @ntl-light;

// .dark {
//   @nav-bg-1: #efede3;
//   @nav-brd-1: #d6ccc2;
//   @nav-brd-2: #cec5b8;
//   @nav-act-1: #d62828;
//   @nav-act-2: #df3838;
//   @bg-lig-1: #eae7e0;
//   @bg-lig-2: #f1f1f1;
//   @bg-med-1: #a0a0a0;
//   @bg-med-2: #808080;
//   @inp-bg: #dfdfdf;
//   @btn-bg: #b9b4a2;
// }

.shine(@direction) {
  background: linear-gradient(
    @direction,
    @ntl-bright,
    @ntl-bright
  );
}

.title(@fntSize, @fntColor) {
  display: block;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: @fntSize;
  font-weight: 600;
  font-style: italic;
  color: @fntColor;
  text-align: center;
  white-space: nowrap;
}

.flair(@fntSize) {
  width: max-content;
  height: fit-content;
  caret-color: transparent;
  font-family: 'Montserrat Alternates';
  font-size: @fntSize;
  text-transform: capitalize;
  text-shadow: 0 0 .2em darkgray;
  color: white;
  border-radius: .1em .5em .1em .5em;
  padding: .35em 1em;
  transition: transform 300ms @quick-n-slow;
}
[data-color]                      {background: @pri-light; }
[data-color = "selling" i]        {background: @flr-sell; }
[data-color = "buying" i]         {background: @flr-buy; }
[data-color = "trading" i]        {background: @flr-trd; }
[data-color = "store" i]          {background: @flr-str; }
[data-color = "bulk" i]           {background: @flr-str; }
[data-color = "service" i]        {background: @flr-str; }
[data-color = "group buy" i]      {background: @flr-upc; }
[data-color = "interest check" i] {background: @flr-upc; }
[data-color = "artisan" i]        {background: @flr-art; }