@bg-main-1: #eae7e0;
@bg-main-2: #f1f1f1;
@bg-nav-1: #efede3;
@bdr-nav-1: #d6ccc2;
@bdr-nav-2: #cec5b8;
@inp-bg: #dfdfdf;
@btn-bg: #b9b4a2;
@fnt-main-1: #101010;
@fnt-main-2: #242424;
@fnt-act-1: #d62828;
@fnt-act-2: #df3838;
@ntl-med-1: #a0a6ab;
@ntl-med-2: #80868b;
@flr-sell: #ff5555;
@flr-buy: #40e47b;
@flr-trd: #ff79c6;
@flr-str: #82dae2;
@flr-gb: #bd93f9;
@flr-etc: #d8e880;

.dark {
  @nav-bg-1: #efede3;
  @nav-brd-1: #d6ccc2;
  @nav-brd-2: #cec5b8;
  @nav-act-1: #d62828;
  @nav-act-2: #df3838;
  @bg-lig-1: #eae7e0;
  @bg-lig-2: #f1f1f1;
  @bg-med-1: #a0a0a0;
  @bg-med-2: #808080;
  @input-bg: #dfdfdf;
  @btn-bg: #b9b4a2;
}