@import './sharedStyles/colors.less';
@import './sharedStyles/fonts.less';
@import './sharedStyles/dimensions.less';
@import './sharedStyles/anim.less';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;

  // color-scheme: light dark;
  color: @ntl-heavy;
  background: linear-gradient(
    -45deg,
    @pri-bright,
    @ntl-bright
  );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: background 3s;
}
    
html, body, #root {
  overflow-y: overlay;
  min-height: 100vh;
  scroll-behavior: smooth;
  z-index: -99;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}
a:hover {
}

input[type = 'text'] {
  width: 100%;
  background: transparent;
  font-family: Montserrat;
  font-size: 1.5rem;
  border: none;
  border-radius: .4rem;
  outline: none;
  padding: .5rem 1.2rem;
  transition: padding 300ms @quick-n-slow, 
              background 300ms @quick-n-slow;
}
input + label {
  position: absolute;
  pointer-events: none;
  top: 50%; left: 0;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: italic;
  transform: translateY(-50%);
  transition: all 300ms @quick-n-slow;
}
input[type = 'text']:is(:focus-visible, :focus-within), input[type='text']:not(input[value=""]) {
  background: @ntl-bright;
  padding-top: 1rem;

  + label {
    top: 0;
    background: @act-main;
    font-size: 1.2rem;
    color: @pri-bright;
    border-radius: .1em .5em .1em .5em;
    padding: .2em 1em;
    margin-left: .5rem;
  }
}

textarea {
  border: none;
  outline: none;
}

button {
  position: relative;
  overflow: clip;
  isolation: isolate;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  background: @pri-fair;
  color: @pri-bright;
  border: none;
  border-radius: .5rem;
  padding: .5rem 1.8rem;
  transition: padding 300ms @quick-n-slow, opacity 300ms @quick-n-slow;
  
  &::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: @ntl-light;
    mix-blend-mode: color-burn;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms @quick-n-slow;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover::before {
    opacity: .3;
  }
  &:is(:focus-within) {
    outline: .3rem solid @act-main;
    outline-offset: .3rem;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: @sb-clr-1;
  border-right: 4px solid @sb-bg;
  border-radius: 4px 6px 6px 4px;

  &:hover {
    background: @sb-clr-2;
  }
}
::-webkit-scrollbar-track {
  margin-top: calc(@navbar-height + 4px);
  margin-bottom: 4px;
}
::-webkit-scrollbar-corner {
 background: transparent;
}
* {
  scrollbar-width: auto;
  scrollbar-color: @sb-clr-1 transparent;
}

.clear {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity 3s;
}

@keyframes fade-in {
  from { opacity: 0; transform: scale(90%); }
  to { opacity: 1; transform: scale(100%); }
}

@keyframes drop-in {
  from { transform: translateY(-40%); }
  to { transform: translateY(0%); }
}

@keyframes error {
  0% { transform: translate(-60%); }
  16% { transform: translate(-40%); }
  33% { transform: translate(-55%); }
  50% { transform: translate(-45%); }
  67% { transform: translate(-52.5%); }
  83% { transform: translate(-47.5%); }
  100% { transform: translate(-50%); }
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//   }
//   button {
//   }
// }
